@inherits Manos.Mvc.View
@{ViewBag.Title = "Welcome to Manos.Mvc";}

<h1>@ViewBag.Title</h1>

<p>@ViewBag.Message</p>

<ul>
<li><a href="/Home/RedirectDemo">Redirect Demo</a></li>
<li><a href="/Home/SimpleContentDemo">Simple Content Demo</a></li>
<li><a href="/Home/JsonDemo">Json Demo</a></li>
</ul>